.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #1b1b1b;
  border-radius: 16px;
}

.pagination-container button {
  height: 3rem;
  width: 4rem;
  border-radius: 16px;
  color: #2271ad;
  margin: 0 10px;

  &:disabled {
    background-color: #888999;
    color: #bbb;
  }
}

.page-list {
  display: flex;
}

.page-item {
  padding: 12px;
  margin: 12px;
  border-radius: 15px;
  border: solid 1px #888;
  width: 1rem;
  display: flex;
  justify-content: center;
}

.page-item:hover {
  background-color: #888aaa;
}

.page-item-selected {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 12px;
  border-radius: 15px;
  border: solid 1px #888aaa;
  width: 1rem;
  background-color: #2271ad;
}
